<ion-header class="ion-no-border">
    <ion-toolbar color="warning">
        <ion-item lines="none" color="warning">
            <ion-icon name="home" slot="start"></ion-icon>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content color="warning">
    <div class="xc fullheight" style="padding: 20px 0 20px 0">

        <ion-title style="text-align: center; font-weight: bolder;font-size:3em; margin: 0;">
            SVT BAC
        </ion-title>
        <ion-icon style="font-size:10em" name="school"></ion-icon>
        <p style="text-align: center; font-size:1.5em; margin: 0;line-height: 2em; padding: 20px;">
            Avec cette application, révisez vos cours et entrainez vous avec des éxercices qui correspondent aux thèmes
            du programme du Bac au Maroc.
        </p>

        <div style="text-align: center;">
            <ion-button color="dark" size="large" routerLink="/levels">
                Enter
            </ion-button>
        </div>
    </div>
</ion-content>