<ion-header>
    <ion-toolbar>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card (click)="onclick('level1')">
        <ion-card-header>
            <ion-card-title>Tronc Commun</ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
            Cours et exercices pour le tronc commun
        </ion-card-content>
    </ion-card>

    <ion-card (click)="onclick('level2')">
        <ion-card-header>
            <ion-card-title>1er Bac</ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
            Cours et exercices pour le 1er Bac
        </ion-card-content>
    </ion-card>

    <ion-card (click)="onclick('level3')">
        <ion-card-header>
            <ion-card-title>2eme Bac</ion-card-title>
        </ion-card-header>
    
        <ion-card-content>
            Cours et exercices pour le 2eme Bac
        </ion-card-content>
    </ion-card>
</ion-content>


