<ion-header>
    <ion-toolbar>
        <ion-title>
            Quizzes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ng-container *ngIf="quizzes">
        <ion-card *ngFor="let quiz of quizzes">
            <ion-card-header>
                <ion-card-title><strong>Question : </strong>{{quiz.question}}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <strong>Answer : </strong>{{quiz.answer}}
                <ion-item>
                    <strong>Choices : </strong>
                    <ion-button color="primary" slot="end" (click)="selectedChoice!==quiz.id?selectedChoice=quiz.id:selectedChoice='none'">
                        {{selectedChoice===quiz.id?'-':'+'}}
                    </ion-button>
                </ion-item>
                <ng-container *ngIf="selectedChoice===quiz.id">
                    <ion-item *ngFor="let choice of quiz.choices">
                        {{choice}}
                    </ion-item>
                </ng-container>
            </ion-card-content>
        </ion-card>
    </ng-container>

</ion-content>